body{
    background-size: 0;
    position: relative;
}

header h1{
    font-size: 2rem;
}
ul.mainMenu{
    font-size: 20px;
    margin: 0;
    width: 100%;
    padding: 5px;
}
nav{
    position: absolute;
    top: 134px;
    left: 0;
    right: 0;
}
section{
    width: 100%;
    margin: 150px 0px 0px 0px !important;
}
section >div{
    width: 100%;
}
h1.subject >span{
    width: 60%;
    font-size: 20px;
}
div.product{
    width: 50%;
}
footer h1{
    font-size: 30px;
}
footer >div >div{
    padding: 0 !important;
    width: 50% !important;
    font-size: 20px;
    margin: 0;
    overflow-x: scroll;
}
